<footer>
  <div class="footer">
      <div>
          <img class="img" src="assets/images/logo-white.png"alt="logo" width="150px">
      </div>

      <div class="row">
          <ul>
              <li><a href="./contact">İletişime Geçin</a></li>
              <li><a href="./about">Hakkında</a></li>
              <li><a href="./products">Ürünler</a></li>
              <li><a href="./authors">Yazarlar</a></li>
              <li><a href="./login">Hesap</a></li>
          </ul>
      </div>
      <hr>
      <div class="row">
        
        <div class="center-contents"> <!-- Yeni bir div eklenmiş -->
            KİTAPCIM Copyright © 2023
        </div>
    </div>
</div>
</footer>
