<div class="footer">
    <div>
        <img src="assets/images/logo-white.png" style="width: 105px; margin-left: 15px;">
    </div>

    <div class="row">
        <ul>
            <li><a href="./contact">İletişime Geçin</a></li>
            <li><a href="./about">Hakkında</a></li>
            <li><a href="">Null</a></li>
            <li><a href="">Null</a></li>
            <li><a href="./login">Hesap</a></li>
        </ul>
    </div>
    <hr>
    <div class="row">
      
      <div class="center-contents"> <!-- Yeni bir div eklenmiş -->
          REA Copyright © 2023
      </div>
  </div>
</div>
