<div class="header">
  <div class="container">
     <app-navbar></app-navbar>
      <div class="row">
          <div class="col-2">
              <h1> Rea Bank! Hayallerinizi gerçekleştirmek için en iyisi!</h1> 
              <p>Her zaman sizin için buradayız ve sizi başarıya taşımak için elimizden gelenin en iyisini yapmak için sabırsızlanıyoruz!</p>
              <ng-container *ngIf="canActivate();">
                  <a routerLink="/login" class="btn">Banka Hesabı Oluştur!</a>
                </ng-container>
                <ng-container *ngIf="!canActivate();">
                  <a routerLink="/profile" class="btn">Banka Hesabı Oluştur!</a>
                </ng-container>
          </div>
          <div class="col-2">
              <img src="assets/images/image1.png">
          </div>
      </div>
  </div>
</div>


<h2 class="title margin-top" >Çalışanlarımız</h2>
  <div class="small-container">
<div class="row">
  <div *ngFor="let item of employee" class="col-6 col-md-4 col-lg-3">
    <a [routerLink]="['/details', item.id]">
      <img src="{{item.user?.userPhoto}}" alt="Product Image">
    </a>
    <h4>{{item.user?.userName}}</h4>
    <div class="rating">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-o"></i>
    </div>
    <p>{{item.uzmanlikAlani}}</p>

  </div>
</div>
  </div>



<!-- Feadtued Categories -->

<app-footer></app-footer>
