<div class="header">
    <div class="container">
        <app-navbar></app-navbar>
        
            <div class="row">
                <div class="col-2">
                    <h1>Kitaplarınızı Kolayca Satın! <br> </h1>
                    <p>İkinci el veya hiç kullanılmamış kitaplarınızı yükleyerek okurseverlerin satın almasına yardımcı olun!</p>
                    <a href="./account" class="btn">Kitap Sat!</a>
                </div>
                <div class="col-2">
                    <img src="assets/images/image1.png">
                </div>
            </div>
        </div>
      </div>
      
      <!-- Feadtued Categories -->
      
      <div class="categories">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <img src="assets/images/book1.webp">
                </div>
                <div class="col-3">
                    <img src="assets/images/book2.webp">
                </div>
                <div class="col-3">
                    <img src="assets/images/book3.webp">
                </div>
            </div>
        </div>
      </div>
      
      <!-- Featured Products -->
      
      <div class="small-container">
        <a [routerLink]="['/products']"><h2  class="title">Products</h2></a>
        <div class="row">
            <div class="col-4">
                <a [routerLink]="['/product-details']"><img src="assets/images/book2.webp"></a>
                <h4>Bir Varmış Bir Yokmuş</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <a [routerLink]="['/product-details']"><img src="assets/images/book3.webp"></a>
                <h4>Mavi Ateş</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <a [routerLink]="['/product-details']"><img src="assets/images/book4.webp"></a>
                <h4>Büyük Bir Fikir</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <a [routerLink]="['/product-details']"><img src="assets/images/book5.webp"></a>
                <h4>Kara Ormanın Sisi</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
        </div>
        <a [routerLink]="['/products']"><h2  class="title">More Products For Click!</h2></a>
      </div>
        
    
      
      <!-- Footer -->
  <app-footer></app-footer>