<app-bar></app-bar>
<div class="new-car-section">
  <div style="float: left; margin-left: 10px;" class="flex-auto mt-2">
    <input placeholder="Brand name" type="text" pInputText [(ngModel)]="carName" />
  </div>
  <div style="float: left; margin-left: 10px;" class="flex-auto mt-2">
    <input placeholder="Model name" type="text" pInputText [(ngModel)]="modelName" />
  </div>
  <div style="float: left; margin-left: 10px;" class="flex-auto mt-2">
    <p-dropdown placeholder="Model type" [options]="models" [(ngModel)]="selectedModel" optionLabel="name"></p-dropdown>
  </div>
  <div style="float: left; margin-left: 10px;" class="flex-auto mt-2">
    <p-dropdown placeholder="Oil type" [options]="oils" [(ngModel)]="selectedOil" optionLabel="name"></p-dropdown>
  </div>
  <div style="float: left; margin-left: 10px;" class="flex-auto mt-2">
    <p-dropdown placeholder="Gear type" [options]="gears" [(ngModel)]="selectedGear" optionLabel="name"></p-dropdown>
  </div>
  <div style="float: left; margin-left: 10px;" class="flex-auto mt-2">
    <input placeholder="Model year" type="text" pInputText [(ngModel)]="modelYear" />
  </div>
  <!-- ARAÇ RESMİ IMPORT FILE SEÇİLECEK -->
  <div style="float: left; margin-left: 10px;" class="flex-auto mt-2">
    <input placeholder="Car image" type="text" pInputText [(ngModel)]="carImage" />
  </div>
  <div style="float: left; margin-left: 10px;" class="flex-auto mt-2">
    <input placeholder="Price" type="text" pInputText [(ngModel)]="price" />
  </div>
  <div style="float: left; margin-left: 10px;" class="flex-auto mt-2">
    <input placeholder="Max km" type="text" pInputText [(ngModel)]="maxKm" />
  </div>
  <div style="float: left; margin-left: 10px;" class="flex-auto mt-2">
    <button pButton pRipple label="Add" class="p-button-success"></button>
  </div>
</div>

<div class="info-area">
  <p-messages [(value)]="messages" [enableService]="false" [closable]="true"></p-messages>
</div>
