<div class="header">
    <div class="container">
    <app-navbar></app-navbar>
    <div class="content">
        <h1>KİTAPCIM'ın Amacı ve İçeriği</h1>
        <p> Kitapcım, okurseverlerin ikinci el kitap satın almasını ve satabilmesine kolaylık sağlayabilen bir e-ticaret
            platformudur.</p>
            <p>Buna ek olarak KITAPCIM; kitaplar rafta tozlanıp kalmaması ve ucuz bir şekilde paylaşım yapılabilmesi için okurseverlere kolaylık sağlar.</p>
    </div>
    
    <h2  class="titlenew">Ekibimiz</h2>
    <div class="kart-container">
        <div class="kart">
            
            <img src="assets/images/linkedin1.png" alt="Profil Fotoğrafı">
            <h2>Ulaş Ergin</h2>
            <p>ulas.ergin15@hotmail.com</p>
        </div>

        <div class="kart">
            <img src="assets/images/linkedin2.png" alt="Profil Fotoğrafı">
            <h2>Mustafa Onur Durgun</h2>
            <p>mustafaonurdurgun@gmail.com</p>
        </div>

        <div class="kart">
            <img src="assets/images/linkedin3.png" alt="Profil Fotoğrafı">
            <h2>Pelda Petekkaya</h2>
            <p>peldapetekkayaa@gmail.com</p>
        </div>
    </div>
    <div class="content">
        <h1>Yardım ve İletişim</h1> 
        <ul>
           <a [routerLink]="['/contact']"><li>İletişim için tıklayın!</li></a>
           <a [routerLink]="['/bagis']"><li>Kitap bağışı için tıklayın.</li></a>
        </ul>
    </div>
    </div>

<app-footer></app-footer>
