<div class="navbar">
  <div class="logo">
    <a [routerLink]="['']"><img src="assets/images/logo.png" alt="logo" width="100px"></a>
</div>
  <nav>
    <ul id="MenuItems" [ngClass]="status ? 'show' : 'hide'">
      <li><a [routerLink]="['']">Home</a></li>
      <li><a [routerLink]="['/about']">About</a></li>
      <li><a [routerLink]="['/contact']">Contact</a></li>                        
                      <li>
                        <a class="nav-link" href="/login">
                          <i *ngIf="!isLoggedIn" class="fa fa-user" style="font-size:4vh; color: rgb(0, 0, 0); vertical-align: middle; margin-top: -7px;">
                          </i>
                        </a>
                      </li>
                     
                      <li *ngIf="isLoggedIn" class="nav-item mx-1">
                        <div>
                            <a class="nav-item nav-link dropdown-toggle user-action">
                                <div class="user-info">
                                    <img id="homeAvatar" src="{{ user?.userPhoto }}" style="max-width:30px ;" class="avatar" alt="Avatar">
                                    <strong style=" font-size: 2vh;">{{ currentUser?.userName }}</strong>
                                </div>
                                <button id="dropdownBtn" pButton type="button" (click)="menu.toggle($event)" icon="pi pi-angle-down" style="width: 35px;"></button>
                            </a>
                            <p-menu #menu [model]="items" [popup]="true" [appendTo]="'body'" class="custom-dropdown-menu"></p-menu>
                        </div>
                    </li>
                 
      </ul>
  </nav>
  <img src="assets/images/menu.png" class="menu-icon" id="menutoggle" (click)="menutoggle()">
</div>
