.user-action {
  display: flex;
  align-items: center; /* Vertically align the items */

}

.avatar {
   max-width: 30px;
  width: 4vh;
  height: 4vh;
  margin-right: 10px;
  border-radius: 10%; 
  margin-bottom: -6px;/* Add margin to separate avatar from username */
  
}

#MenuItems.show .user-info, #MenuItems.show #dropdownBtn {
 
  
  margin-left: 100px;
  transform: translateX(100%); /* Move them to the right */
  transition: transform 0.3s ease; /* Add a transition for smooth movement */
}


button {
  margin-top: 0vh;
  background-color:rgba(121, 131, 134, 0.611);

  border: none;
  
  border-radius: 1vh;
  cursor: pointer;
  font-size: 1vh;
  
}

button:hover {
  background-color: #000000;
}



#homeAvatar {
margin-right: 1vh;
}

#dropdownBtn {
margin-left: 2vh;
}


a {
  &:hover {
      color: #ffffff;
  }

}
/* cart ve account öğeleri üzerine gelindiğinde beyaz olacak */


/* Ekran genişliği 768 piksel veya daha küçükse, navbarı responsive hale getir */

/* Bu kısmı değiştirmeyin */

/* Ekran genişliği 768 piksel veya daha küçükse, navbarı responsive hale getir */

