<div class="header">
    <div class="container">
    <app-navbar></app-navbar>

        <div class="container">
          <div class="row">
            <div class="col-2">
              <div class="col-2">
                <img src="assets/images/image1.png" width="100%">
              </div>
              <!-- İstediğiniz diğer içerikler buraya gelebilir -->
            </div>
            <div class="col-2">
                <div class="form-container">
                  <div class="form-btn">
                    <span   [ngClass]="{'active': showLogin}" [routerLink]="['/login']" (click)="showLogin = false; updateIndicatorPosition()">Login</span>
                    <span [ngClass]="{'active': !showLogin}"   (click)="showLogin = true; updateIndicatorPosition()">Register</span>
                    <div id="Indicator" [ngStyle]="{'transform': 'translateX(' + indicatorPosition + '%)'}"></div>
                    </div>     
            <form *ngIf="!showLogin" (submit)="register()">
              <input [(ngModel)]="registerRequest.TcKimlikNo" name="TcKimlikNo" [ngModelOptions]="{standalone: true}"  type="text" placeholder="TcKimlikNo">
                <input [(ngModel)]="registerRequest.UserName" name="UserName" [ngModelOptions]="{standalone: true}"  type="text" placeholder="Username">
                <input [(ngModel)]="registerRequest.UserSurname" name="UserSurname" [ngModelOptions]="{standalone: true}"  type="text" placeholder="User Surname">
                <input [(ngModel)]="registerRequest.City" name="City" [ngModelOptions]="{standalone: true}" type="text" placeholder="City">
                <input [(ngModel)]="registerRequest.Country" name="Country" [ngModelOptions]="{standalone: true}" type="text" placeholder="Coutry">
                <input [(ngModel)]="registerRequest.Email" name="Email" [ngModelOptions]="{standalone: true}" type="email" placeholder="Email">
                <input [(ngModel)]="registerRequest.Password" name="Password" [ngModelOptions]="{standalone: true}" type="password" placeholder="Password">
                <input [(ngModel)]="registerRequest.Telephone" name="Telephone" [ngModelOptions]="{standalone: true}" type="text" placeholder="Telephone">
                <input [(ngModel)]="registerRequest.UserPhoto" name="UserPhoto" [ngModelOptions]="{standalone: true}" type="text" placeholder="Photo" style="display: none;">
                <button id="signUpBtn" type="button" class="btn btn-primary btn-block mb-4" (click)="register()">Kayıt Ol</button>
            </form>
        </div>
    </div>
          </div>
        </div>
    </div>
          <app-footer></app-footer>      
          <p-toast position="top-right"></p-toast>  