.form-padding
{
  padding: 2%;
}
.margin-bottom{
  margin-bottom: 10%;
}
.heart-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  z-index: 1;
}
.product-link{
  position: relative;
  display: inline-block;
}
body{
    margin:0;
    overflow-x:hidden;
    }
    
  