.form-padding
{
  padding: 2%;
}
.margin-bottom{
  margin-bottom: 10%;
}
.heart-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  z-index: 1;
}
.product-link{
  position: relative;
  display: inline-block;
}
body{
    margin:0;
    overflow: auto;
    }
    .row row-2{
      margin-left: 20px;
    }
    .profile-image {
      width: 50px; /* Örneğin 50 piksel genişlik */
      height: 50px; /* Örneğin 50 piksel yükseklik */
      object-fit: cover; /* Resmi boyutlandırırken oranları korur */
      border-radius: 50%;
    
    }
    .comments-title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    
    .comment {
      width: 100%; 
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
    }
  
    
   
    
    .comments-list {
      flex: 1; /* Yorumlar, yorum ekleme formu ile aynı hizada olacak */
    }
    
    .comment-form {
     
      border: 1px solid #000000;
      display:flex;
      width: 100%; /* Yorumları sağ tarafta listelemek için */
      justify-content:center; 
      border-radius: 8px;
    }
    
    
    .user-info {
      display: flex;
      align-items: center;
      margin-right: 10px;
    }
    
    
    .user-name {
      margin-left: 10px;
      font-weight: bold;
      margin-right: 10px;
    }
    
    .comment-date {
      color: #3b3b3b;
      margin-right: 10px;
    }
    #advanced {
  margin: 0 auto;
  display: flex;
  justify-content: center;
 
}
   