<div class="header">
  <div class="container">
  <app-navbar></app-navbar>
  
  
  <!-- Single Produc -->

    <div class="small-container single-product"*ngIf="selectedBook">
      <div class="row">
        <div class="col-2">
          <a href="" class="product-link">
            <img [src]="selectedBook.coverPhoto || defaultImageUrl" width="100%" id="ProductImg">
          </a>
        </div>
        <div class="col-2">
          <p>Books Details:</p>
          <h1>{{ selectedBook.bookName || 'Kitap Bulunamadı' }}</h1>
          <h4>{{ selectedBook.price || 'Fiyat Bilgisi Yok' }} ₺</h4>
          <input type="number" value="1">
          <a href="/product-details" class="btn">Add To Cart</a>
          
          <h3>Book Details <i class="fa fa-indent"></i></h3>
          <br>
          <p>{{ selectedBook.bookStatus || 'No details!' }}</p>
      </div>

        </div>
      </div>
  
 

 
     
           
           

  
  
  <!-- title -->
  <div class="small-container">
      <div class="row row-2">
        <h2 class="comments-title">Comments</h2>
      </div>
  
  <!-- Products -->
  <div class="comments-list">
    <div class="comment" *ngFor="let comment of filteredComment | paginate: config">
      <div class="user-info">
        <!-- Profil fotoğrafı eklemek için bir <img> etiketi ve src özelliği kullanın -->
        <img [src]="comment.userPhoto" alt="Profil Fotoğrafı" class="profile-image">
        <span class="user-name">{{comment.userName}}</span>
        <span class="comment-date">{{comment.commentDate | date}}</span>
      </div>
      <div class="comment-text" style="margin-left: 60px">{{comment.commentText}}</div>
    </div>
   
  </div>
  <pagination-controls (pageChange)="onPageChange($event)" id="advanced"></pagination-controls>

</div>


  

  <div class="small-container margin-bottom" *ngIf="isLoggedIn">
    <form class="comment-form"(submit)="onCreate(commentRequest)" *ngIf="isLoggedIn">
     

        <input [(ngModel)]="commentRequest.commentDate" [ngModelOptions]="{standalone: true}" type="text" class="form-control item" id="emailAddUser" placeholder="DateTime" disabled style="display: none;">
        <input type="text" class="form-control-item" id="userId" [(ngModel)]="commentRequest.userId" [ngModelOptions]="{standalone: true}"[placeholder]="loggedInUserId" readonly [value]="loggedInUserId" disabled style="display: none;">
        <input type="text" class="form-control" id="booksId" [(ngModel)]="commentRequest.booksId" [ngModelOptions]="{standalone: true}"disabled style="display: none;">
      <div class="form-group form-padding">
        <label for="commentText">Yorum</label>
        <input type="text" class="form-control" id="commentText" [(ngModel)]="commentRequest.commentText" [ngModelOptions]="{standalone: true}"  placeholder="Yorumunuzu girin">
      </div>
      <button type="submit" class="btn btn-primary btn-block mb-4" style="width: min-content;">Yorum Ekle</button>
    </form>
  </div>
  </div>
  <!-- Footer -->
<app-footer></app-footer>
<p-toast position="top-right"></p-toast> 