.form-container {
    height: 70vh ;
  }
  body{
    margin:0;
    overflow-x:hidden;
    }

    .hidden-button {
      display: none;
    }
    /* Başarı ve hata mesajları */
  
    
    .success-message {
      padding: bottom;
      color: green;
    }
    
    .error-message {
      color: red;
    }

    