<div class="header">
    <div class="container">
    <app-navbar></app-navbar>
   



        <div class="container">
          <div class="row">
            <div class="col-2">
              <div class="col-2">
                <img src="assets/images/image1.png" width="100%">
              </div>
              <!-- İstediğiniz diğer içerikler buraya gelebilir -->
            </div>
            
    <div class="col-2">
      
        <div class="form-container">
          
          <div class="form-btn">
            <span [ngClass]="{'active': showLogin}" (click)="showLogin = false; updateIndicatorPosition()">Login</span>
                  <span [routerLink]="['/register']" [ngClass]="{'active': !showLogin}" (click)="showLogin = false; updateIndicatorPosition()">Register</span>
                  <div id="Indicator" [ngStyle]="{'transform': 'translateX(' + indicatorPosition + '%)'}"></div>
          </div>
          
          
          <form *ngIf="showLogin" (submit)="login()">
                
            
            <input [(ngModel)]="loginRequest.email" name="UserName" [ngModelOptions]="{standalone: true}" type="email" placeholder="Email">
            <input [(ngModel)]="loginRequest.password" name="Password" [ngModelOptions]="{standalone: true}" type="password" placeholder="Password">
            <button id="loginBtn" type="button" class="btn btn-primary btn-block mb-4" (click)="login()">Login</button>
            <a href="">Forget Password</a>
            
            
          </form>
         
        </div>
    </div>
          </div>
        </div>
    </div>
    
      
          <app-footer></app-footer> 
          <p-toast position="top-right"></p-toast>       
