:host {
    display: flex;
    //height: 100vh;
    background-image: url('/assets/images/bg_6.jpg');
    background-color: #eee;
    background-size: cover;
    background-repeat: no-repeat;
    
}

  