<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a [routerLink]="['']"><img src="assets/images/logo.png" alt="logo" width="125px"></a>
            </div>
            <nav>
                <ul id="MenuItems">

                        <li><a [routerLink]="['/authors']">Yazarlar</a></li> 
                        <li><a [routerLink]="['/products']">Products</a></li>
                        <li><a [routerLink]="['']">About</a></li>
                        <li><a [routerLink]="['/contact']">Contact</a></li>
                        <li><a [routerLink]="['/account']">Account</a></li>
                        <li> <div class="search-container">
                            
                            <input type="text" id="search" placeholder="Ara...">
                            <button id="search-button"><i class="fas fa-search"></i></button>
                        </div></li>               
                </ul>
            </nav>
            <a [routerLink]="['/cart']"><img src="assets/images/cart.png" width="30px" height="30px"></a>
            <img src="assets/images/menu.png" class="menu-icon" id="menutoggle">
        </div>
     </div>
</div>

<div class="landing_page ">
    <div class="responsive-container-block big-container">
      <img class="bg-img" id="iq5bf" src="https://c1.wallpaperflare.com/preview/127/366/443/library-book-bookshelf-read.jpg">
      <div class="responsive-container-block container">
        <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12 left-one">
          <div class="content-box">
            <p class="text-blk section-head">
                Bize Ulaşmak İçin Yazınız...
            </p>
            <p class="text-blk section-subhead">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis volupta
            </p>
                      </div>
        </div>
        <div class="responsive-cell-block wk-ipadp-6 wk-tab-12 wk-mobile-12 wk-desk-6 right-one" id="i1zj">
          <form class="form-box">
            <div class="container-block form-wrapper">
              <p class="text-blk contactus-head">
                <a class="link" href="">
                </a>
                Get a quote
              </p>
              <p class="text-blk contactus-subhead">
                We will get back to you in 24 hours
              </p>
              <div class="responsive-container-block" >
                <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12" id="i10mt-7">
                  <input class="input" id="ijowk-7" name="FirstName" placeholder="First Name">
                </div>
                <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12" id="i1ro7">
                  <input class="input" id="indfi-5" name="Last Name" placeholder="Last Name">
                </div>
                <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12 emial" id="ityct">
                  <input class="input" id="ipmgh-7" name="Email" placeholder="Email">
                </div>
                <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12" id="i634i-7">
                  <textarea aria-placeholder="Type message here" class="textinput" id="i5vyy-7" placeholder="Type message here"></textarea>
                </div>
              </div>
              <button class="submit-btn">
                Get quote
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
 


<footer>
<div class="footer">
  <div>
    <img class="img" src="assets/images/logo-white.png">
  </div>

<div class="row">
<ul>
<li><a href="#">Contact us</a></li>
<li><a href="#">About</a></li>
<li><a href="#">Books</a></li>
<li><a href="#">Authors</a></li>
<li><a href="#">Account</a></li>
</ul>
</div>

<div class="row">
INFERNO Copyright © 2021 Inferno - All rights reserved || Designed By: Mahesh 
</div>
</div>
</footer>