<app-bar></app-bar>
<div class="container bootstrap snippets bootdey">
  <div class="panel-body inf-content">
      <div class="row">
          <div class="col-md-4">
              <img alt="" style="width:300px;" title="" class="img-circle img-thumbnail isTooltip" src="{{ user?.userPhoto}}" data-original-title="Usuario"> 
              <ul title="Ratings" class="list-inline ratings text-center">
                  <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
              </ul>
          </div>
          <div class="col-md-6">
              <strong>Information</strong><br>
              <div class="table-responsive">
              <table class="table table-user-information">
                  <tbody>
                    <tr>        
                        <td>
                          
                            <strong>
                                <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                TC Kimlik No                                               
                            </strong>
                        </td>
                        <td class="text-primary">
                          {{ user?.tcKimlikNo}}   
                        </td>
                    </tr>
                    <tr>    
                      <tr>        
                          <td>
                            
                              <strong>
                                  <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                  Name                                               
                              </strong>
                          </td>
                          <td class="text-primary">
                            {{ user?.userName}}   
                          </td>
                      </tr>
                      <tr>    
                          <td>
                              <strong>
                                  <span class="glyphicon glyphicon-user  text-primary"></span>    
                                  SurName                                                
                              </strong>
                          </td>
                          <td class="text-primary">
                            {{ user?.userSurname}}    
                          </td>
                      </tr>
                      <tr>        
                          <td>
                              <strong>
                                  <span class="glyphicon glyphicon-cloud text-primary"></span>  
                                  Email                                                
                              </strong>
                          </td>
                          <td class="text-primary">
                            {{ user?.email}}  
                          </td>
                      </tr>
  
                      <tr>        
                          <td>
                              <strong>
                                  <span class="glyphicon glyphicon-bookmark text-primary"></span> 
                                  City                                                
                              </strong>
                          </td>
                          <td class="text-primary">
                            {{ user?.city}}
                          </td>
                      </tr>
  
  
                      <tr>        
                          <td>
                              <strong>
                                  <span class="glyphicon glyphicon-eye-open text-primary"></span> 
                                  Country                                               
                              </strong>
                          </td>
                          <td class="text-primary">
                            {{ user?.country}}
                          </td>
                      </tr>
                      <tr>        
                          <td>
                              <strong>
                                  <span class="glyphicon glyphicon-envelope text-primary"></span> 
                                  Telephone                                               
                              </strong>
                          </td>
                          <td class="text-primary">
                            {{ user?.telephone}}
                          </td>
                      </tr>
                      <tr>        
                          <td>
                              <strong>
                                  <span class="glyphicon glyphicon-calendar text-primary"></span>
                                  Id                                               
                              </strong>
                          </td>
                          <td class="text-primary">
                            {{ user?.id}}
                          </td>
                      </tr>
                      <tr>        
                          <td>
                              <strong>
                                  <span class="glyphicon glyphicon-calendar text-primary"></span>
                                  Role                                               
                              </strong>
                          </td>
                          <td class="text-primary">
                            
                            <ng-container *ngIf="user.userType === 0; then userBlock1 else 
                            user.userType === 1 ? userBlock2 : userBlock3">
            </ng-container>
            
            <ng-template #userBlock1>
            Hasta
            </ng-template>
            <ng-template #userBlock2>
            Admin
            </ng-template>
            <ng-template #userBlock3>
            Doktor
            </ng-template>
            
                          </td>
                          
                      </tr>                                    
                  </tbody>
              </table>
              </div>
          </div>
      </div>
  </div>
  </div>      