<app-bar></app-bar>
<p></p>
<p></p>
<p></p>
<p></p>
<div class="container mt-4">
  <table class="table table-bordered table-hover mt-5 ">
    <thead class="thead-light">
      <tr>
        <th class="text-center p-2">User ID</th>
        <th class="text-center p-2">User Name</th>
        <th class="text-center p-2">User Surname</th>
        <th class="text-center p-2">City</th>
        <th class="text-center p-2">Country</th>
        <th class="text-center p-2">Email</th>
        <th class="text-center p-2">Telephone</th>
        <th>edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of user">
        <td class="text-center p-2">{{ item.id }}</td>
        <td class="text-center p-2">{{ item.userName }}</td>
        <td class="text-center p-2">{{ item.userSurname }}</td>
        <td class="text-center p-2">{{ item.city }}</td>
        <td class="text-center p-2">{{ item.country }}</td>
        <td class="text-center p-2">{{ item.email }}</td>
        <td class="text-center p-2">{{ item.telephone }}</td>
        <td><a class="btn" [routerLink]="['/admin/user/edit-user']"> update</a><a class="btn" [routerLink]="['/admin/user/delete-user']"> delete</a><a class="btn" [routerLink]="['/admin/user/edit-user']"> Edit</a></td>
      </tr>
    </tbody>
  </table>
</div>
