// body {
//     font-family: 'Lato', sans-serif;
// }

// h1 {
//     margin-bottom: 40px;
// }

// label {
//     color: #333;
// }

// .btn-send {
//     font-weight: 300;
//     text-transform: uppercase;
//     letter-spacing: 0.2em;
//     width: 80%;
//     margin-left: 3px;
//     }
// .help-block.with-errors {
//     color: #ff5050;
//     margin-top: 5px;

// }

// .card{
// 	margin-left: 10px;
// 	margin-right: 10px;
// }

// .card-body{
//     margin-left: 20vh;
//     margin-right: 20vh;
//     margin-top: 5vh;

// }

// .container{
//     margin-left: 20vh;
//     margin-right: 20vh;
//     margin-top: 5vh;
//     max-width: 120vh;
// }


.card {
    max-width: 120vh; /* İstediğiniz genişlik değeri */
    margin: 0 auto; /* Kartı yatay olarak ortala */
    margin-left: 20vh;
    margin-right: 20vh;
    margin-top: 5vh;
  }

.w-full{
    font-weight: 80%;
}

.p-input-icon-left {
    display: flex;
    align-items: center;
  }
  
  .p-input-icon-left p-button {
    margin-right: 5px; /* İstediğiniz boşluğu ayarlayın */
  }

  .button-group {
    display: flex; /* Butonları yatay olarak hizalar */
}

.button-group button {
    margin-right: 5px; /* Butonlar arasında bir boşluk bırakır */
}

