<div class="card">
    <p-toast></p-toast>
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"(click)="addNewComment()"></button>
        </ng-template>
        <ng-template pTemplate="right">
            <div class="row">
                <div class="col">
                    <input type="text" [(ngModel)]="searchCommentName" placeholder="Search"
                        (input)="searchComment(searchCommentName)" class="form-control">
                </div>
            </div>
        </ng-template>
    </p-toolbar>
    <p-table #dt  [value]="filteredComment" [rows]="5" [paginator]="true" [tableStyle]="{ 'min-width': '5vh' }"
        [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="Id" style="min-width:5rem">Id</th>
                <th pSortableColumn="CommentName" style="min-width:10rem">comment Text</th>
                <th pSortableColumn="CommentAddres" style="min-width:10rem">commentDate</th>
                <th pSortableColumn="city" style="min-width:10rem">Book ID</th>
                <th pSortableColumn="city" style="min-width:10rem">Book Name</th>
                <th pSortableColumn="country" style="min-width:10rem">User Id</th>
                <th pSortableColumn="country" style="min-width:10rem">User Name</th>
                <th pSortableColumn="" style="min-width:10rem"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-comment>
            <tr>
                
               


                <td>{{ comment.id }}</td>
                <td>{{ comment.commentText }}</td>
                <td>{{ comment.commentDate }}</td>
                <td>{{ comment.booksId }}</td>
                <td>{{ comment.bookName }}</td>
                <td>{{ comment.userId }}</td>
                <td>{{ comment.userName }}</td>
        
                <td>
                    <div class="button-group">
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                        (click)="openEditDialog(comment.id)">Edit</button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                            (click)="deleteComment(comment.id)">Delete</button>
                        <div class="modal fade" tabindex="-1" [class.show]="openModel">
                            <!--CSS'i düzenlemezsem çalışmaz-->
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <p>Bu yorumu silmek istediğinize emin misiniz?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <p-button icon="pi pi-check" styleClass="p-button-success"
                                            (click)="deleteComment(comment.Id)">Delete</p-button> 
                                        <p-button icon="pi pi-times" styleClass="p-button-danger"
                                            (click)="closeModal()"></p-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>

                
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog class="modalReg" [(visible)]="CommentAddDialog" [style]="{ width: '450px' }" header="Comment Add" [modal]="true"
styleClass="p-fluid">
<div class="registration-form">
    <form>

        <div class="form-group">
            <input [(ngModel)]="commentRequest.commentText" [ngModelOptions]="{standalone: true}" 
            type="text" class="form-control item" id="usernameAddUser" placeholder="Comment Text">
        </div>
        <div class="form-group">
            <input [(ngModel)]="commentRequest.userId" [ngModelOptions]="{standalone: true}" type="text" class="form-control item" id="fullNameAddUser" placeholder="User ID">
        </div>
        <div class="form-group">
            <input [(ngModel)]="commentRequest.booksId" [ngModelOptions]="{standalone: true}" type="text" class="form-control item" id="fullNameAddUser" placeholder="Book ID">
        </div>
        <div class="form-group">
            <input [(ngModel)]="commentRequest.commentDate" [ngModelOptions]="{standalone: true}" type="text" class="form-control item" id="emailAddUser" placeholder="DateTime" disabled>
        </div>

        

        <div class="form-group">
            <button id="addUserBtn" type="button" class="btn btn-block create-account" (click)="onCreate(commentRequest)"> Add Comment </button>
        </div>
    </form>
</div>
</p-dialog>



<p-dialog class="modalReg" *ngIf="CommentToEdit" [(visible)]="CommentEditDialog" [style]="{ width: '450px' }" header="Comment Edit" [modal]="true"
styleClass="p-fluid">
<div class="registration-form">
    <form>

        <div class="form-group">
            <input [(ngModel)]="CommentToEdit.commentText" [ngModelOptions]="{standalone: true}" 
            type="text" class="form-control item" id="usernameAddUser" placeholder="Comment Name">
        </div>
        <div class="form-group">
            <input [(ngModel)]="CommentToEdit.userId" [ngModelOptions]="{standalone: true}" type="text" class="form-control item" id="fullNameAddUser" placeholder="User ID">
        </div>
        <div class="form-group">
            <input [(ngModel)]="CommentToEdit.bookId" [ngModelOptions]="{standalone: true}" type="text" class="form-control item" id="fullNameAddUser" placeholder="Book ID">
        </div>
        
        <button pButton pRipple label="Update" icon="pi pi-check" class="p-button-text"
        (click)="onUpdate(CommentToEdit.id ?? 0, CommentToEdit)"></button>

    </form>
</div>
</p-dialog>