
<div class="card">
    <p-toast></p-toast>
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"(click)="addNewBook()"></button>
        </ng-template>
        <ng-template pTemplate="right">
            <div class="row">
                <div class="col">
                    <input type="text" [(ngModel)]="searchBooksName" placeholder="Search"
                        (input)="searchbooks(searchBooksName)" class="form-control">
                </div>
            </div>
        </ng-template>
    </p-toolbar>
    <p-table #dt  [value]="filteredBooks" [rows]="5" [paginator]="true" [tableStyle]="{ 'min-width': '5vh' }"
        [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="Id" style="min-width:5rem" >Book Id</th>
                <th pSortableColumn="bookName" style="min-width:10rem">Book Name</th>
                <!-- <th pSortableColumn="BookDescription" style="min-width:10rem">Book Description <p-sortIcon field="BookDescription"></p-sortIcon></th> -->
                <th pSortableColumn="booksStatus" style="min-width:10rem">Book Status</th>
                <th pSortableColumn="Price" style="min-width:10rem">Price</th>
                <!-- <th pSortableColumn="zipCode" style="min-width:10rem">Zip Code <p-sortIcon field="zipCode"></p-sortIcon></th> -->
                <th pSortableColumn="Piece" style="min-width:10rem">Piece</th>
                <!-- <th pSortableColumn="roomCount" style="min-width:10rem">Room Count <p-sortIcon field="roomCount"></p-sortIcon></th> -->
                <th pSortableColumn="userId" style="min-width:10rem">User Id</th>
                <!-- <th pSortableColumn="popularity" style="min-width:10rem">Popularity <p-sortIcon field="popularity"></p-sortIcon></th> -->
                <th pSortableColumn="saleId" style="min-width:10rem">Sale Id</th>
                <th pSortableColumn="coverPhoto" style="min-width:10rem">İmage Path</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-books>
            <tr>
                
                <td>{{ books.id }}</td>
                <td>{{ books.bookName }}</td>
                <td>{{ books.bookStatus }}</td>
                <td>{{ books.price }} ₺</td>
                <td>{{ books.piece }}</td>
                <td>{{ books.userId }}</td>
                <td>{{ books.saleId }}</td>
                <img class="img-fluid" src="{{books.coverPhoto}}" alt="">
                <!-- <td>{{ Book.BookImg }}</td> -->
                
                
                <!-- <td>{{ Book.roomCount }}</td> -->
                
                <td>
                    <div class="button-group">
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                        (click)="openEditDialog(books.id)">Edit</button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                            (click)="deleteBook(books.id)">Delete</button>

                            
                        <div class="modal fade" tabindex="-1" [class.show]="openModel">
                            <!--CSS'i düzenlemezsem çalışmaz-->
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <p>Bu kitabı silmek istediğinize emin misiniz?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <p-button icon="pi pi-check" styleClass="p-button-success"
                                            (click)="deleteBook(books.Id)"></p-button> 
                                        <p-button icon="pi pi-times" styleClass="p-button-danger"
                                            (click)="closeModal()"></p-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>

                
            </tr>
        </ng-template>
    </p-table>
</div>


<p-dialog class="modalReg" [(visible)]="booksAddDialog" [style]="{ width: '450px' }" header="Book Add" [modal]="true"
styleClass="p-fluid">
<div class="registration-form">
    <form>

        <div class="form-group">
            <input [(ngModel)]="booksRequest.id" [ngModelOptions]="{standalone: true}" 
            type="text" class="form-control item" id="usernameAddUser" placeholder="Books Id">
        </div>
        <div class="form-group">
            <input [(ngModel)]="booksRequest.bookName" [ngModelOptions]="{standalone: true}" type="text" class="form-control item" id="fullNameAddUser" placeholder="bookName">
        </div>
        <div class="form-group">
            <input [(ngModel)]="booksRequest.bookStatus" [ngModelOptions]="{standalone: true}" type="text" class="form-control item" id="fullNameAddUser" placeholder="bookStatus">
        </div>
        <div class="form-group">
            <input [(ngModel)]="booksRequest.statement" [ngModelOptions]="{standalone: true}" type="text" class="form-control item" id="fullNameAddUser" placeholder="Statement">
        </div>
        <div class="form-group">
            <input [(ngModel)]="booksRequest.price" [ngModelOptions]="{standalone: true}" type="text" class="form-control item" id="emailAddUser" placeholder="price">
        </div>
        <div class="form-group">
            <input [(ngModel)]="booksRequest.piece" [ngModelOptions]="{standalone: true}" type="text" class="form-control item" id="passwordAddUser" placeholder="piece">
        </div>
        <div class="form-group">
            <input [(ngModel)]="booksRequest.saleId" [ngModelOptions]="{standalone: true}" type="text" class="form-control item" id="passwordAddUser" placeholder="saleId">
        </div>
        <div class="form-group">
            <input [(ngModel)]="booksRequest.userId" [ngModelOptions]="{standalone: true}" type="text" class="form-control item" id="passwordAddUser" placeholder="userId">
        </div>
        <div class="form-group">
            <input [(ngModel)]="booksRequest.coverPhoto" [ngModelOptions]="{standalone: true}" type="text" class="form-control item" id="passwordAddUser" placeholder="İmage Path ( URL )">
        </div>

        <div class="form-group">
            <button id="addUserBtn" type="button" class="btn btn-block create-account" (click)="onCreate(booksRequest)"> Add Book </button>
        </div>


    </form>
</div>
</p-dialog>

<p-dialog class="modalReg" *ngIf="BooksToEdit" [(visible)]="booksEditDialog" [style]="{ width: '450px' }" header="Books Edit" [modal]="true"
    styleClass="p-fluid">
    <div class="registration-form">
 
    
            <form>

                <div class="form-group">
                    <input [(ngModel)]="BooksToEdit.id" [ngModelOptions]="{standalone: true}" 
                    type="text" class="form-control item" id="usernameAddUser" placeholder="Books Id" disabled>
                </div>
                <div class="form-group">
                    <input [(ngModel)]="BooksToEdit.bookName" [ngModelOptions]="{standalone: true}" type="text" class="form-control item" id="fullNameAddUser" placeholder="bookName">
                </div>
                <div class="form-group">
                    <input [(ngModel)]="BooksToEdit.bookStatus" [ngModelOptions]="{standalone: true}" type="text" class="form-control item" id="fullNameAddUser" placeholder="bookStatus">
                </div>
                <div class="form-group">
                    <input [(ngModel)]="BooksToEdit.statement" [ngModelOptions]="{standalone: true}" type="text" class="form-control item" id="fullNameAddUser" placeholder="Statement">
                </div>
                <div class="form-group">
                    <input [(ngModel)]="BooksToEdit.price" [ngModelOptions]="{standalone: true}" type="text" class="form-control item" id="emailAddUser" placeholder="price">
                </div>
                <div class="form-group">
                    <input [(ngModel)]="BooksToEdit.piece" [ngModelOptions]="{standalone: true}" type="text" class="form-control item" id="passwordAddUser" placeholder="piece">
                </div>
                <div class="form-group">
                    <input [(ngModel)]="BooksToEdit.saleId" [ngModelOptions]="{standalone: true}" type="text" class="form-control item" id="passwordAddUser" placeholder="saleId">
                </div>
                <div class="form-group">
                    <input [(ngModel)]="BooksToEdit.userId" [ngModelOptions]="{standalone: true}" type="text" class="form-control item" id="passwordAddUser" placeholder="userId">
                </div>
                <div class="form-group">
                    <input [(ngModel)]="BooksToEdit.coverPhoto" [ngModelOptions]="{standalone: true}" type="text" class="form-control item" id="passwordAddUser" placeholder="İmage Path ( URL )">
                </div>
        
                <button pButton pRipple label="Update" icon="pi pi-check" class="p-button-text"
                (click)="onUpdate(BooksToEdit.id ?? 0, BooksToEdit)"></button>
        
        
    
    
            
    
    
        </form>
    </div>
    </p-dialog>




