
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="products.component.css">

<div class="header">
<div class="container">
    <div class="navbar ">
        <div class="logo">
            <a [routerLink]="['']"><img src="assets/images/logo.png" alt="logo" width="125px"></a>
        </div>
        <nav>
            <ul id="MenuItems">
                    <li><a [routerLink]="['']">Home</a></li>
                    <li class="dropdown">
                        <a href="#">Kategoriler</a>
                      </li>
                    <li><a [routerLink]="['/anasayfa']">Yazarlar</a></li>
                    <li><a [routerLink]="['/products']">Products</a></li>
                    <li><a [routerLink]="['']">About</a></li>
                    <li><a [routerLink]="['']">Contact</a></li>
                    <li><a [routerLink]="['/account']">Account</a></li>
                    <li> <div class="search-container">

                        <input type="text" id="search" placeholder="Ara...">
                        <button id="search-button"><i class="fas fa-search"></i></button>
                    </div></li>
            </ul>
        </nav>
        <a [routerLink]="['/cart']"><img src="assets/images/cart.png" width="30px" height="30px"></a>
        <img src="assets/images/menu.png" class="menu-icon" id="menutoggle">
    </div>


<!-- slider -->

<div class="slideshow-my">
<br>
<br>
<br>
<div class="mySlides1">
    <a href="task.html">
        <img src="assets/images/book1.webp" style="width:100% ; height:50vh">
    </a>
</div>

<div class="mySlides1">
    <a href="task.html">
        <img src="assets/images/book2.webp" style="width:100%;height:50vh">
    </a>
</div>
<div class="mySlides1">
    <a href="task.html">
        <img src="assets/images/book1.webp" style="width:100%; height:50vh">
    </a>
</div>
<div class="mySlides1">
    <a href="task.html">
        <img src="assets/images/book1.webp" style="width:100%; height:50vh">
    </a>
</div>
<div class="mySlides1">
    <a href="task.html">
        <img src="assets/images/book1.webp" style="width:100%; height:50vh">
    </a>
</div>
</div>
<!-- all products after slider-->
<div class="small-container margin-top">
<h2 class="title margin-top" >Featured Product</h2>
<div class="row">
  <div class="col-3">
    <a [routerLink]="['/product-details']" class="product-link">
        <img src="assets/images/book1.webp" alt="Ürün Resmi">
        <span class="heart-icon"><i class="bi bi-heart-fill w-50"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
        </svg></i></span>
    </a>

    <h4>Rüyadan Daha Derin</h4>
    <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
    </div>
    <p>$50.00</p>
</div>

    <div class="col-3">
      <a [routerLink]="['/product-details']">
        <img src="assets/images/book2.webp">
        <span class="heart-icon"><i class="bi bi-heart-fill w-50"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
        </svg></i></span>
      </a>
        <h4>Bir Varmış Bir Yokmuş</h4>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
        </div>
        <p>$50.00</p>
    </div>
    <div class="col-3">
      <a [routerLink]="['/product-details']">
        <img src="assets/images/book3.webp">
        <span class="heart-icon"><i class="bi bi-heart-fill w-50"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
        </svg></i></span></a>
        <h4>Büyük Bir Fikir</h4>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
        </div>
        <p>$50.00</p>
    </div>
    <div class="col-3">
      <a [routerLink]="['/product-details']">
        <img src="assets/images/book4.webp">
        <span class="heart-icon"><i class="bi bi-heart-fill w-50"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
        </svg></i></span></a>
        <h4>Mavi Ateş</h4>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
        </div>
        <p>$50.00</p>
    </div>
</div>
<h2 class="title">Latest Products</h2>
<div class="row">
    <div class="col-3">

        <img src="assets/images/product-5.jpg" >
        <h4>Red Printed T-Shirt</h4>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
        </div>
        <p>$50.00</p>
    </div>
    <div class="col-3">
        <img src="assets/images/product-6.jpg">
        <h4>Red Printed T-Shirt</h4>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
        </div>
        <p>$50.00</p>
    </div>
    <div class="col-3">
        <img src="assets/images/product-7.jpg">
        <h4>Red Printed T-Shirt</h4>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
        </div>
        <p>$50.00</p>
    </div>
    <div class="col-3">
        <img src="assets/images/product-8.jpg">
        <h4>Red Printed T-Shirt</h4>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
        </div>
        <p>$50.00</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <img src="assets/images/product-9.jpg">
        <h4>Red Printed T-Shirt</h4>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
        </div>
        <p>$50.00</p>
    </div>
    <div class="col-3">
        <img src="assets/images/product-10.jpg">
        <h4>Red Printed T-Shirt</h4>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
        </div>
        <p>$50.00</p>
    </div>
    <div class="col-3">
        <img src="assets/images/product-11.jpg">
        <h4>Red Printed T-Shirt</h4>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
        </div>
        <p>$50.00</p>
    </div>
    <div class="col-3">
        <img src="assets/images/product-12.jpg">
        <h4>Red Printed T-Shirt</h4>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
        </div>
        <p>$50.00</p>
    </div>
</div>
</div>
</div>
<!-- Footer -->
<footer>
    <div class="footer">
      <div>
        <img class="img" src="assets/images/logo-white.png">
      </div>
    
    <div class="row">
    <ul>
    <li><a href="#">Contact us</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Books</a></li>
    <li><a href="#">Authors</a></li>
    <li><a href="#">Account</a></li>
    </ul>
    </div>
    
    <div class="row">
    INFERNO Copyright © 2021 Inferno - All rights reserved || Designed By: Mahesh 
    </div>
    </div>
    </footer>
