

  /* Kalp simgesinin stillemesi*/
  .heart-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    color: white;
    font-size: 24px;
    z-index: 1;
  }

  /* Ürün resminin stillemesi (Opsiyonel) */
  .product-link{
    position: relative;
    display: inline-block;
  }

  .product-link img {
    max-width: 100%;
    height: auto;
  }

 




  

  .margin-top{
    margin-top: 30px;
  }
  .row{
    display: flex;
    align-items: center;
    flex-wrap:nowrap;
    justify-content: space-around;
  }
  .col-3{
    margin-right: 4%;
  }
  body{
    margin:0;
    overflow-x:hidden;
    }
    
    .footer{
    background:#000;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }