

  /* Kalp simgesinin stillemesi*/
  .heart-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    color: white;
    font-size: 24px;
    z-index: 1;
  }

  /* Ürün resminin stillemesi (Opsiyonel) */
  .product-link{
    position: relative;
    display: inline-block;
  }

  .product-link img {
    max-width: 100%;
    height: auto;
  }

   

  .margin-top{
    margin-top: 30px;
  }
  .row{
    display: flex;
    align-items: center;
    flex-wrap:nowrap;
    justify-content: space-around;
  }
  .col-3{
    margin-right: 4%;
  }
  body{
    margin:0;
    overflow-x:hidden;
    }
    .slideshow-my {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 0%; /* Sayfanın tamamını kaplamak için */
  }
  
