.form-container {
    max-width: 120vh;
    margin: 0 auto;
    padding: 3vh;
    background-color: #f8f9fa;
    border-radius: 2vh;
    box-shadow: 0 0 1vh rgba(0, 0, 0, 0.1);
    margin-left: 20vh;
    margin-right: 20vh;
    margin-top: 5vh;
  }

  .form-container .form-group label {
    font-weight: bold;
  }

  .form-container .form-control {
    border-radius: 1vh;
  }

  .form-container .btn-primary {
    border-radius: 1vh;
  }


  /* ----------------------------- Star Form Rating ----------------------- */

  /* ----------------------- Star Form Rating ------------------------- */