<div class="form-container">
    <div id="formAccordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">

                    Add Advert Form

                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#formAccordion">
                <div class="card-body">
                    <form>
                        <div class="form-row">

                            <div class="form-group col-md-6">
                                <label for="inputEmail">Email</label>
                                <input type="email" class="form-control" id="inputEmail" placeholder="Email" required>
                            </div>


                            <div class="form-group col-md-6">
                                <label for="inputFullName">Full Name</label>
                                <input type="text" class="form-control" id="inputFullName" placeholder="Name" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputAddress">House Name</label>
                            <input type="text" class="form-control" id="inputHouseName" placeholder="My Sweet Home"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress2">Address</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St"
                                required>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="inputCity">City</label>
                                <input type="text" class="form-control" id="inputCity" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputCountry">Country</label>
                                <input type="text" class="form-control" id="inputCountry" required>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="inputZip">Zip</label>
                                <input type="text" class="form-control" id="inputZip" required>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="inputRoomCount">Room Count</label>
                                <input type="text" class="form-control" id="inputRoomCount" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2">
                                <label for="inputPrice">House Price</label>
                                <input type="text" class="form-control" id="inputPrice" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputDesc">Description</label>
                                <textarea type="text" class="form-control" id="inputDesc" placeholder="Description"
                                    required></textarea>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputCountry">Popularity</label>
                                <select id="inputCountry" class="form-control" required>

                                    <option selected>1</option>
                                    <option selected>2</option>
                                    <option selected>3</option>
                                    <option selected>4</option>
                                    <option selected>5</option>
                                    <option>...</option>

                                </select>
                            </div>


                        </div>

                        <div class="form-row">
                            <div class="row">
                                <div class="mb-3">
                                    <label for="inputPhoto"><strong>Add Photos</strong></label>
                                    <input class="form-control" type="file" id="formFile"
                                        (change)="onFileChange($event)" multiple required>
                                </div>
                            </div>
                        </div>

                        <div id="selectedFiles">
                            <div *ngFor="let file of selectedFiles" class="file-item">
                                <div class="file-details">
                                    <p>
                                        {{ file.name }}
                                        <button class="fa fa-minus-square" (click)="deleteFile(file)"><i
                                                class="fas fa-trash-alt"></i></button>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <button id="addAdvertBtn" type="submit" class="btn btn-primary">Add Advert</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>