
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar" *ngIf=" currentUser">
    <div class="custom-menu">
    </div>
    <div class="img bg-wrap text-center py-4" style="background-image: url(assets/images/book.png);">
      <div class="user-logo" style="z-index: 2;">
        <img src="{{ user?.userPhoto }}" alt="Profile Image" class="img">
        <h1>{{currentUser.userName}}</h1>
      </div>
    </div>
    <ul class="list-unstyled components mb-5">
      <li class="active">
        <a href="#"><span class="fa fa-home mr-3"></span>Home</a>
      </li>

      <li>
        <a routerLink="/profile/profileinfo" (click)="loadContent('profileinfo')"><span class="fa fa-info mr-3"></span>
          Profile Info</a>
      </li>
      <li>
        <a routerLink="/profile/payment" (click)="loadContent('payment')"><i class="fa fa-cc-visa mr-3"></i>Payment</a>
      </li>
      <li>
        <a routerLink="/profile/adverts" (click)="loadContent('adverts')"><i class="fa fa-ship mr-3"></i>Advert</a>
      </li>
      <li>
        <a *ngIf="!isAdmin" routerLink="/profile/Comment" (click)="loadContent('Comment')"><i class="fa fa-ship mr-3"></i>Add comment</a>
      </li>
      <li>
        <a *ngIf="!isAdmin" routerLink="/profile/allUser" (click)="loadContent('allUser')"><i class="fa fa-user-circle mr-3"></i>All User</a>
      </li>
      <li>
        <a  routerLink="/profile/book" (click)="loadContent('book')"><i class="fa fa-book mr-3"></i>Book</a>
      </li>
      <li>
        <a  routerLink="/profile/support" (click)="loadContent('support')"><i class="fa fa-lock mr-3"></i>Support</a>
      </li>
      <li>
        <a (click)="logOut()"><span class="fa fa-sign-out mr-3" ></span> Sign Out</a>
      </li>
    </ul>

  </nav>

  <!-- Page Content  -->
  <div id="content" class="p-4 p-md-5 pt-5">
    <ng-container *ngIf="content === 'profileinfo'">
      <app-profile-info></app-profile-info>
    </ng-container>
    <ng-container *ngIf="content === 'payment'">
      <app-payment></app-payment>
    </ng-container>
    <ng-container *ngIf="content === 'adverts'">
      <app-adverts></app-adverts>
    </ng-container>
    <ng-container *ngIf="content === 'Comment'">
      <app-add-comment></app-add-comment>
    </ng-container>
    <ng-container *ngIf="content === 'support'">
      <app-support></app-support>
    </ng-container>
    <ng-container *ngIf="content === 'allUser'">
      <app-all-user></app-all-user>
    </ng-container>
    <ng-container *ngIf="content === 'book'">
      <app-book></app-book>
    </ng-container>
  </div>
</div>